{
  "openapi": "3.0.0",
  "info": {
    "title": "Sharpe API",
    "version": "1.0.0",
    "description": "Institutional-grade crypto market data API. Access funding rates, futures, arbitrage opportunities, narratives, ecosystems, and more.\n\nAuthentication is supported via two production-safe methods:\n1. **Bearer token** in the Authorization header: `Authorization: Bearer sk_live_...`\n2. **X-API-Key header**: `X-API-Key: sk_live_...`\n\nAPI keys in query parameters are rejected by default because URLs are commonly stored in logs, browser history, analytics tools, and referrer headers.\n\nThese `/v1` endpoints send no CORS headers and must be called from a server: calling them from a browser would expose your API key in page JavaScript. The free, keyless `/api/*` endpoints do allow cross-origin browser requests (https://www.sharpe.ai/docs/free-api).",
    "contact": {
      "name": "Sharpe API Support",
      "url": "https://sharpe.ai",
      "email": "support@sharpe.ai"
    }
  },
  "servers": [
    {
      "url": "https://www.sharpe.ai/api",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Health checks and service status"
    },
    {
      "name": "Account",
      "description": "API key usage and quota information"
    },
    {
      "name": "Derivatives",
      "description": "Funding rates and futures data"
    },
    {
      "name": "Market Data",
      "description": "Heatmaps, correlations, tracker, price predictions, news, gem finder, and market cap search"
    },
    {
      "name": "Arbitrage",
      "description": "Spot-perp, cross-exchange, dated futures basis, calendar spread, perp-dated carry, and transfer arbitrage scanners"
    },
    {
      "name": "Categories",
      "description": "Narratives, ecosystems, and memecoins data"
    },
    {
      "name": "New Listings",
      "description": "Spot listings, Perp listings, delistings, suspensions, scheduled trading starts, exchange pages, and narrative flow across CEXs and Perp DEXs."
    },
    {
      "name": "Screener",
      "description": "DEX Screener, token scanner, and rug-check security endpoints."
    },
    {
      "name": "Signals",
      "description": "Composite signal scores derived from cross-exchange derivatives data: insider selling pressure and pump-and-dump detection."
    }
  ],
  "paths": {
    "/v1/analytics/query": {
      "post": {
        "operationId": "queryAnalyticsDataset",
        "tags": [
          "Market Data"
        ],
        "summary": "Governed analytics query",
        "description": "Runs a bounded query against a cataloged Sharpe Data Ocean dataset. Accepts only registered dataset IDs, whitelisted fields, filter operators, sort fields, and opaque cursors.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dataset"
                ],
                "additionalProperties": false,
                "properties": {
                  "dataset": {
                    "type": "string",
                    "enum": [
                      "funding_rates_current",
                      "funding_accumulated",
                      "stablecoins_metrics"
                    ]
                  },
                  "select": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "required": [
                        "field",
                        "op",
                        "value"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "op": {
                          "type": "string",
                          "enum": [
                            "eq",
                            "in",
                            "gte",
                            "lte"
                          ]
                        },
                        "value": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "array",
                              "minItems": 1,
                              "maxItems": 100,
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "boolean"
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "maxItems": 3,
                    "items": {
                      "type": "object",
                      "required": [
                        "field",
                        "direction"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "asc",
                            "desc"
                          ]
                        }
                      }
                    }
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 500,
                    "default": 100
                  },
                  "cursor": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analytics query returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsQueryResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/arbitrage/cross-exchange": {
      "get": {
        "operationId": "getCrossExchangeArbitrage",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Cross-exchange arbitrage",
        "description": "Returns cross-exchange funding differentials across every funding venue and asset class — crypto plus RWA perps (equity, commodity, FX, index) — ranked by gross annualized funding differential (apr). Pairs never cross asset classes. netFundingRate is the per-period differential at intervalHours (the faster leg's cadence). Spread uses real order books where both legs expose one (spreadSource \"book\") and reference prices otherwise (\"reference\"); netApr — the spread- and fee-adjusted figure over a 30-day hold — is only present on book-priced rows. Unknown spread, open interest or volume are null, never zero.",
        "parameters": [
          {
            "name": "exchanges",
            "in": "query",
            "description": "Comma-separated list of venues to compare. Omit for all 33 funding venues (the funding tracker's venue registry).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetClass",
            "in": "query",
            "description": "Underlying filter: \"all\" (default), \"crypto\", or \"rwa\" (equity, commodity, FX and index perps).",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "crypto",
                "rwa"
              ],
              "default": "all"
            }
          },
          {
            "name": "minOiUsd",
            "in": "query",
            "description": "Minimum open interest in USD on the smaller leg. Default 0 (no floor). Legs with unknown OI fail a positive floor.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "minVolUsd",
            "in": "query",
            "description": "Minimum 24h perp volume in USD on the smaller leg. Default 0 (no floor). Legs with unknown volume fail a positive floor.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrossExchangeArbitrageResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/arbitrage/dated-futures-basis": {
      "get": {
        "operationId": "getArbitrageDatedFuturesBasis",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Dated futures basis scanner",
        "description": "Returns executable cash-and-carry rows priced at spot ask and futures bid, ranked by fee-adjusted net APR. Reference-only rows are omitted.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArbitrageCoinParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageExchangesParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinAprParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinOiUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinVolumeUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinDepthUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMarginTypeParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageNotionalParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Scanner rows returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatedFuturesBasisResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/arbitrage/futures-calendar-spread": {
      "get": {
        "operationId": "getArbitrageFuturesCalendarSpread",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Futures calendar spread scanner",
        "description": "Returns executable near-versus-far dated futures spreads using the buy leg ask and sell leg bid, ranked by signed post-fee net roll APY.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArbitrageCoinParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageExchangesParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinAprParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinOiUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinVolumeUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinDepthUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMarginTypeParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageNotionalParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Scanner rows returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuturesCalendarSpreadResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/arbitrage/perp-dated-carry": {
      "get": {
        "operationId": "getArbitragePerpDatedCarry",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Perp versus dated futures carry scanner",
        "description": "Returns perp-versus-dated carry rows with executable dated quotes, explicit to-expiry carry, and fee-adjusted annualized net carry used for filtering and ranking.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArbitrageCoinParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageExchangesParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinAprParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinOiUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinVolumeUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinDepthUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMarginTypeParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageNotionalParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Scanner rows returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpDatedCarryResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/arbitrage/cex-spot-transfer": {
      "get": {
        "operationId": "getArbitrageCexSpotTransfer",
        "tags": [
          "Arbitrage"
        ],
        "summary": "CEX spot-transfer arbitrage scanner",
        "description": "Returns live CEX spot-transfer arbitrage rows after common network and token-contract matching, withdrawal/deposit status, withdrawal fees, executable depth, slippage, and spread-lifetime checks. Same-ticker contract mismatches fail closed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArbitrageCoinParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageExchangesParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinAprParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageMinDepthUsdParam"
          },
          {
            "$ref": "#/components/parameters/ArbitrageNotionalParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Executable CEX spot-transfer scanner rows returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CexSpotTransferResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/arbitrage/dex-scanner/preview": {
      "get": {
        "operationId": "previewDexScannerArbitrage",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Preview validated DEX scanner gross-spread candidates",
        "description": "Resolves one or two GeckoTerminal liquidity pool URLs, verifies canonical token identity, and compares DEX pool mids against CEX bid/ask books or another verified DEX pool. Returns gross quote-spread candidates, blocked states, source timestamps, and explicit warnings; it does not return executable net profit.",
        "parameters": [
          {
            "name": "poolUrl",
            "in": "query",
            "required": true,
            "description": "GeckoTerminal pool URL, for example https://www.geckoterminal.com/eth/pools/0x...",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "exchanges",
            "in": "query",
            "description": "Comma-separated CEX list. Supported values: Binance, OKX, Bybit, Gate.io, MEXC, KuCoin, Bitget, HTX, BingX, CoinEx.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minProfitPct",
            "in": "query",
            "description": "Minimum gross quote-spread percentage to mark a validated row as a candidate. This is not a net-profit threshold.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 10000,
              "default": 1
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Scanner mode. Use cex_dex for CEX-vs-DEX comparison or dex_dex to compare two DEX pools.",
            "schema": {
              "type": "string",
              "enum": [
                "cex_dex",
                "dex_dex"
              ],
              "default": "cex_dex"
            }
          },
          {
            "name": "secondPoolUrl",
            "in": "query",
            "description": "Required when mode=dex_dex. Both pools must resolve to the same canonical network and target-token contract.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "tier2Exchanges",
            "in": "query",
            "description": "Deprecated compatibility parameter. Extended exchanges without verified live providers return explicit warnings and no rows.",
            "deprecated": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFundingLeg",
            "in": "query",
            "description": "Set to true to include funding-leg context when the scanner can match a relevant perpetual market.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DEX scanner preview returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexScannerPreviewResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/arbitrage/spot-perp": {
      "get": {
        "operationId": "getSpotPerpArbitrage",
        "tags": [
          "Arbitrage"
        ],
        "summary": "Spot-perp arbitrage",
        "description": "Returns structurally executable spot-perpetual funding-capture rows with live funding, verified spot or margin availability, diagnostic basis, gross APR, and fee-adjusted net APR.",
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter by exchange name, or \"all\" for all exchanges.",
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Filter by perpetual-leg direction: short for positive funding capture, long for negative funding capture.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "long",
                "short"
              ],
              "default": "all"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage opportunities returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotPerpArbitrageResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/correlation/matrix": {
      "get": {
        "operationId": "getCorrelationMatrix",
        "tags": [
          "Market Data"
        ],
        "summary": "Correlation matrix",
        "description": "Returns a price correlation matrix for the requested coins over the specified period.",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Lookback period for correlation calculation.",
            "schema": {
              "type": "string",
              "enum": [
                "30d",
                "90d",
                "1y",
                "3y"
              ],
              "default": "30d"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of CoinGecko IDs. If omitted, returns the default set.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Correlation matrix returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorrelationMatrixResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/dexscreener/data": {
      "get": {
        "operationId": "getDexScreenerData",
        "tags": [
          "Screener"
        ],
        "summary": "DEX Screener data",
        "description": "Returns live DEX pair screening rows by category, supported network slug, or search phrase. Phrase results remain scoped to the requested network. Rows retain Codex or DexScreener provenance and observation time; unavailable provider metrics are null rather than zero.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Screening category.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "trending",
                "gainers",
                "losers",
                "new_pairs"
              ],
              "default": "trending"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "Optional supported chain/network slug. Unsupported slugs return 400.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phrase",
            "in": "query",
            "description": "Optional search phrase.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum rows to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DEX Screener data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexScreenerDataResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/dexscreener/security": {
      "get": {
        "operationId": "getDexScreenerSecurity",
        "tags": [
          "Screener"
        ],
        "summary": "DEX Screener token security",
        "description": "Returns token contract security signals for a DEX Screener token.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Token contract address.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "description": "Codex network ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token security data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexScreenerSecurityResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/ecosystems/data": {
      "get": {
        "operationId": "getEcosystemsData",
        "tags": [
          "Categories"
        ],
        "summary": "Ecosystems data",
        "description": "Returns ecosystem-level market data (Ethereum, Solana, BNB, Arbitrum, Base, etc.) including market cap, volume, TVL, and performance metrics.",
        "parameters": [
          {
            "name": "ecosystem",
            "in": "query",
            "description": "Ecosystem slug to filter by (e.g. ethereum, solana, arbitrum).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlation",
            "in": "query",
            "description": "Set to \"true\" to include correlation data.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Timeframe for correlation data.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeNative",
            "in": "query",
            "description": "Set to \"true\" to exclude the native token from aggregated metrics.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Ecosystems data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EcosystemsDataResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/funding/rates": {
      "get": {
        "operationId": "getFundingRates",
        "tags": [
          "Derivatives"
        ],
        "summary": "Funding rates",
        "description": "Returns perpetual funding rates across all supported exchanges. Supports current snapshots, accumulated rates over multiple windows, and per-coin historical rates.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of funding rate data to retrieve.",
            "schema": {
              "type": "string",
              "enum": [
                "current",
                "accumulated",
                "history"
              ],
              "default": "current"
            }
          },
          {
            "name": "coin",
            "in": "query",
            "description": "Base coin ticker (e.g. BTC), or the coin's full name (e.g. `bitcoin`, resolved to BTC). Case-insensitive, one coin per request. Optional filter for type=current and type=accumulated; required when type=history. A value that no perpetual in the funding book has ever settled returns 400 rather than an empty result set; GET /api/funding/coins lists every ticker carried.",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days of history to retrieve (type=history only).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1095,
              "default": 30
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter to a single venue. Accepts the slug (e.g. `gate-io`), the display name as returned in the `exchange` field (e.g. `Gate.io`), or the ccxt id. The venue registry is not frozen, so read the `sharpe://exchanges` MCP resource or /api/funding/rates for the current list. An unrecognized value returns 400.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "asset_class",
            "in": "query",
            "description": "Narrow the response to one underlying category. The funding book is not crypto-only. Tokenized equity, commodity, index and FX perps trade on the same venues, so this is unfiltered by default. Applies to type=current and type=accumulated; ignored for type=history. An unrecognized value returns 400.",
            "schema": {
              "type": "string",
              "enum": [
                "crypto",
                "equity",
                "commodity",
                "fx",
                "index"
              ]
            }
          },
          {
            "name": "margin",
            "in": "query",
            "description": "Narrow the response to one collateral convention: `linear` for quote-margined contracts, `inverse` for coin-margined ones. Unfiltered by default. Applies to type=current and type=accumulated; ignored for type=history. An unrecognized value returns 400.",
            "schema": {
              "type": "string",
              "enum": [
                "linear",
                "inverse"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rates returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingRatesResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Data-Source": {
                "$ref": "#/components/headers/X-Data-Source"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/X-Data-Stale"
              },
              "X-Data-As-Of": {
                "$ref": "#/components/headers/X-Data-As-Of"
              },
              "X-Freshness-Sla-Seconds": {
                "$ref": "#/components/headers/X-Freshness-Sla-Seconds"
              },
              "X-Coverage-Start": {
                "$ref": "#/components/headers/X-Coverage-Start"
              },
              "X-Requested-Start": {
                "$ref": "#/components/headers/X-Requested-Start"
              },
              "X-Coverage-Complete": {
                "$ref": "#/components/headers/X-Coverage-Complete"
              },
              "X-Days-Clamped": {
                "$ref": "#/components/headers/X-Days-Clamped"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/rwa-perps/rates": {
      "get": {
        "operationId": "getRwaPerpRates",
        "tags": [
          "Derivatives"
        ],
        "summary": "RWA perp funding rates",
        "description": "Returns funding and carry for RWA perpetuals across 19 registry-driven venues: CEXs, perp DEXs, Hyperliquid HIP-3 builder markets, and borrow-based venues. Rates are interval-true and mechanism-true: funding_apr annualizes each market's reported settlement interval, while both-sides rollover is reported as borrow_apr_annual and never mixed into funding spreads. The default payload omits venue-internal metadata. type=history returns stored session-tagged settlements (market / after_hours / weekend / holiday) for Hyperliquid and Kraken; type=stats returns trusted, canonical-market carry/spread/OI aggregates and freshness.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of rwa-perp data to retrieve.",
            "schema": {
              "type": "string",
              "enum": [
                "current",
                "history",
                "stats"
              ],
              "default": "current"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Underlying ticker (e.g. TSLA). Required when type=history. GOOG and GOOGL are distinct share classes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "venue",
            "in": "query",
            "description": "Filter to a single venue (e.g. Binance, Bybit, OKX, Kraken, Coinbase, Aster, Lighter, Ostium, or a Hyperliquid HIP-3 builder market). The venue list is registry-driven and grows over time.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Days of settlement history to retrieve (type=history only).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 7
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Stock-perp funding data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RwaPerpRatesResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Data-Source": {
                "$ref": "#/components/headers/X-Data-Source"
              },
              "X-Data-Stale": {
                "$ref": "#/components/headers/X-Data-Stale"
              },
              "X-Data-As-Of": {
                "$ref": "#/components/headers/X-Data-As-Of"
              },
              "X-Freshness-Sla-Seconds": {
                "$ref": "#/components/headers/X-Freshness-Sla-Seconds"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/futures/coins": {
      "get": {
        "operationId": "getFuturesCoins",
        "tags": [
          "Derivatives"
        ],
        "summary": "Available futures coins",
        "description": "Returns up to 1000 coins with futures data, including funding, open-interest, liquidation, long/short, CVD, and dated-basis capability flags plus observed venue coverage and market-cap rank.",
        "responses": {
          "200": {
            "description": "Coin list returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuturesCoinsResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/futures/data": {
      "get": {
        "operationId": "getFuturesData",
        "tags": [
          "Derivatives"
        ],
        "summary": "Futures chart data",
        "description": "Returns time-series data for a specific futures chart. Supports open interest, volume, funding rate history, liquidations, long/short ratios, basis, term structure, OHLCV, and more.",
        "parameters": [
          {
            "name": "chart",
            "in": "query",
            "required": true,
            "description": "Futures chart identifier.",
            "schema": {
              "type": "string",
              "enum": [
                "perp-dislocation",
                "funding-cost",
                "crowding-risk",
                "flow-confirmation",
                "carry-curve",
                "perpetual-price",
                "liquidations",
                "oi-stacked",
                "oi-change",
                "oi-daily-change",
                "oi-snapshot",
                "oi-volume",
                "volume-snapshot",
                "volume-history",
                "cvd",
                "long-short-ratio",
                "funding-rate",
                "top-trader-ls",
                "returns-session",
                "returns-heatmap",
                "returns-hour",
                "returns-day",
                "annualized-basis",
                "term-structure"
              ]
            }
          },
          {
            "name": "coin",
            "in": "query",
            "description": "Base coin ticker.",
            "schema": {
              "type": "string",
              "default": "BTC"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Lookback window for the data.",
            "schema": {
              "type": "string",
              "enum": [
                "1W",
                "2W",
                "1M",
                "3M",
                "6M",
                "1Y",
                "3Y"
              ],
              "default": "3M"
            }
          },
          {
            "name": "exchanges",
            "in": "query",
            "description": "Comma-separated list of exchanges to include (e.g. Binance,Bybit).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of data points per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Futures chart data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuturesDataResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/gem-finder/data": {
      "get": {
        "operationId": "getGemFinderData",
        "tags": [
          "Market Data"
        ],
        "summary": "Gem finder",
        "description": "Returns up to 1,000 market-ranked token rows with market cap, nullable FDV and FDV/MCap ratio, volume, nullable price and market-cap changes, circulating supply, ATH and ATL history, preferred chain scope, and observed exchange availability. Stablecoins, wrapped/bridged/pegged and liquid-staking derivative assets, tokenized stocks, assets whose upstream quote is more than 24 hours old (delisted or halted markets that would otherwise report a weeks-old price change as if it were current), and rows below minimum market-cap or volume thresholds are excluded. Ambiguous same-ticker assets do not receive symbol-only exchange attribution. Enrichment coverage is exposed in syncStatus. No wallet signal or proprietary token score is returned.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of tokens to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque, snapshot-bound pagination cursor from a previous response. Cursors expire when the cache refreshes; restart without a cursor after an expiry error.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Gem finder data returned successfully. Returns a paginated envelope when the `limit` query parameter is supplied, otherwise the full dataset in a success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GemFinderResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Returns database reachability and News article freshness. The service is degraded when the database is unavailable or the newest News article is stale or has unknown freshness. No authentication required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "503": {
            "description": "Service is degraded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/heatmap/data": {
      "get": {
        "operationId": "getHeatmapData",
        "tags": [
          "Market Data"
        ],
        "summary": "Market heatmap",
        "description": "Returns heatmap data for coins, narratives, or ecosystems. Aggregate modes expose complete or partial category coverage. The legacy top-100 category slug returns the current Top 50 universe.",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "Heatmap grouping mode.",
            "schema": {
              "type": "string",
              "enum": [
                "coins",
                "narratives",
                "ecosystems"
              ],
              "default": "coins"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "One of 34 category slugs (e.g. top-100, defi, layer-1). The legacy top-100 slug returns the Top 50 universe.",
            "schema": {
              "type": "string",
              "default": "top-100"
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Heatmap data returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeatmapDataResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/insider-selling/data": {
      "get": {
        "operationId": "getInsiderSellingData",
        "tags": [
          "Signals"
        ],
        "summary": "Insider selling pressure",
        "description": "Composite score (0-10) flagging coins with persistent negative funding rates across 13 perpetual futures exchanges. Higher scores indicate stronger evidence of systematic short positioning. Updates every 30 minutes.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of coins to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "description": "Filter to coins scoring at or above this value.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 10,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderSellingResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              },
              "X-Sharpe-Data-State": {
                "description": "Freshness state using the 45-minute market-manipulation SLA.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "ok",
                    "stale"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/listings/data": {
      "get": {
        "operationId": "getListingsData",
        "tags": [
          "New Listings"
        ],
        "summary": "New listings hub data",
        "description": "Returns aggregated weekly and monthly compatibility listing counts plus the last-90-day recent listings for the New Listings product. Optionally filter by narrative slug or exchange. The new canonical event feed is available at `/v1/listings/events`; enabled listing connectors refresh hourly.",
        "parameters": [
          {
            "name": "narrative",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter to a single narrative slug (e.g. `ai-agents`, `memes`, `layer-1`)."
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "binance",
                "okx",
                "bybit",
                "gateio",
                "mexc"
              ]
            },
            "description": "Filter to a single exchange."
          }
        ],
        "responses": {
          "200": {
            "description": "Hub payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsDataResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/listings/recent": {
      "get": {
        "operationId": "getListingsRecent",
        "tags": [
          "New Listings"
        ],
        "summary": "Recent new listings",
        "description": "Returns a flat list of recent listings (token, exchange, narrative, listing date). Defaults remain backward-compatible with the legacy spot feed; event-specific filters switch to the canonical event feed while preserving the recent-feed row shape.",
        "parameters": [
          {
            "name": "narrative",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter to a single narrative slug."
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "binance",
                "okx",
                "bybit",
                "gateio",
                "mexc",
                "bitget",
                "kucoin",
                "bingx",
                "bitmart",
                "deepcoin",
                "coinbase",
                "kraken",
                "crypto_com",
                "upbit",
                "bithumb",
                "htx",
                "bitfinex",
                "bitstamp",
                "gemini",
                "bitmex",
                "deribit",
                "phemex",
                "lbank",
                "bitrue",
                "coinex",
                "backpack",
                "hashkey",
                "whitebit",
                "toobit",
                "hyperliquid",
                "aster",
                "dydx",
                "aevo"
              ]
            },
            "description": "Filter to a single exchange."
          },
          {
            "name": "venue_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "cex",
                "perp_dex",
                "dex"
              ]
            },
            "description": "Optional event-feed venue type filter."
          },
          {
            "name": "market_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "perp",
                "futures",
                "options",
                "margin"
              ]
            },
            "description": "Optional event-feed market type filter."
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "listing",
                "delisting",
                "suspension",
                "resumption",
                "prelaunch"
              ]
            },
            "description": "Optional event-feed lifecycle event filter."
          },
          {
            "name": "asset_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "token",
                "spot_pair",
                "perp_contract",
                "futures_contract",
                "options_contract"
              ]
            },
            "description": "Optional listed instrument class filter."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "announced",
                "scheduled",
                "live",
                "completed",
                "cancelled",
                "needs_review"
              ]
            },
            "description": "Optional event status filter."
          },
          {
            "name": "confidence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "authoritative",
                "high",
                "medium",
                "low",
                "proxy",
                "manual"
              ]
            },
            "description": "Optional source confidence filter."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO date or datetime lower bound."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO date or datetime upper bound."
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 90
            },
            "description": "How many days back to include. Default 90."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            },
            "description": "Max rows returned."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor returned by previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "Recent listings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsRecentResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/listings/events": {
      "get": {
        "operationId": "getListingEvents",
        "tags": [
          "New Listings"
        ],
        "summary": "Canonical listing events",
        "description": "Returns canonical listing lifecycle events across CEXs and Perp DEXs, including Spot listings, Perp listings, delistings, suspensions, resumptions, scheduled trading starts, source URLs, source confidence, source-observation freshness, and per-provider health. The opaque cursor advances the persisted database and official live-overlay streams independently so either source can fill a page without stranding the other.",
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "binance",
                "okx",
                "bybit",
                "gateio",
                "mexc",
                "bitget",
                "kucoin",
                "bingx",
                "bitmart",
                "deepcoin",
                "coinbase",
                "kraken",
                "crypto_com",
                "upbit",
                "bithumb",
                "htx",
                "bitfinex",
                "bitstamp",
                "gemini",
                "bitmex",
                "deribit",
                "phemex",
                "lbank",
                "bitrue",
                "coinex",
                "backpack",
                "hashkey",
                "whitebit",
                "toobit",
                "hyperliquid",
                "aster",
                "dydx",
                "aevo"
              ]
            },
            "description": "Filter to a single exchange or perp DEX."
          },
          {
            "name": "venue_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "cex",
                "perp_dex",
                "dex"
              ]
            },
            "description": "Filter by venue type."
          },
          {
            "name": "market_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "perp",
                "futures",
                "options",
                "margin"
              ]
            },
            "description": "Filter by market type."
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "listing",
                "delisting",
                "suspension",
                "resumption",
                "prelaunch"
              ]
            },
            "description": "Filter by listing lifecycle event type."
          },
          {
            "name": "asset_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "token",
                "spot_pair",
                "perp_contract",
                "futures_contract",
                "options_contract"
              ]
            },
            "description": "Filter by listed instrument class."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "announced",
                "scheduled",
                "live",
                "completed",
                "cancelled",
                "needs_review"
              ]
            },
            "description": "Filter by event status."
          },
          {
            "name": "narrative",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by Sharpe narrative slug."
          },
          {
            "name": "confidence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "authoritative",
                "high",
                "medium",
                "low",
                "proxy",
                "manual"
              ]
            },
            "description": "Filter by source confidence."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO date or datetime lower bound."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO date or datetime upper bound."
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 90
            },
            "description": "Lookback window in days."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            },
            "description": "Max rows returned."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque two-stream cursor returned by the previous page. Pass it through unchanged."
          }
        ],
        "responses": {
          "200": {
            "description": "Listing events payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingEventsResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/listings/exchanges": {
      "get": {
        "operationId": "getListingExchanges",
        "tags": [
          "New Listings"
        ],
        "summary": "New listings exchange registry",
        "description": "Returns the typed listing connector registry, including supported market types, source URLs, parser confidence, connector status, and market coverage for each exchange.",
        "parameters": [
          {
            "name": "venue_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "cex",
                "perp_dex",
                "dex"
              ]
            },
            "description": "Filter exchange coverage by venue type."
          },
          {
            "name": "market_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "perp",
                "futures",
                "options",
                "margin"
              ]
            },
            "description": "Filter exchange coverage by supported market type."
          },
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Filter to enabled or disabled connectors."
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange coverage payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingExchangesResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/market-cap/search": {
      "get": {
        "operationId": "searchMarketCap",
        "tags": [
          "Market Data"
        ],
        "summary": "Market cap search",
        "description": "Search crypto and supported TradFi assets by name or ticker. Returns up to 20 matching assets with asset class, market cap, nullable price and 24h change, plus nullable crypto FDV and estimated ATH fields.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (2-100 characters).",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 100
            }
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketCapSearchResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/X-Quota-Remaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
[...]
